/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}
a {
	text-decoration:none;
}

img {
    border: 0;
}

ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

/* reset -- struktura: ogólnie, poszczególne strony -- animacje -- tekst -- menu -- zdjęcia -- mediaqueries */

/* Struktura
 * --------------------------------------- */

.section{
	text-align:center;
	border-style: solid;
	border-width: 50px 50px 45px 50px;
	border-color: #fff;
}

.slide{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .rama {
	border-style: solid;
	border-width: 50px 50px 45px 50px;
	border-color: #fff;
	/*padding: 50px 50px 45px 50px;*/
	}


/* Tekst
 * --------------------------------------- */
  
h1 {
	font-family: "museo-sans", sans-serif;
	font-weight:100;
	font-size: 4em;
	text-transform: uppercase;
	}
	
h2 {
	font-family: "museo-slab", serif;
	font-weight:700;
	font-size: 1.5em;
	}

p{
	font-family: "museo-sans", sans-serif;
	font-weight:300;
	font-size: 1em;
}

.whitep {
	color : #b2b2b2!important;
	}
    
.space {
	  margin-top: 50px;
	  }

.podtytul {
	font-size: 2em!important;
	}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto
	}

.padding {
    padding: 0 4%;
    }

.padding12 {
    padding: 12%;
    }

/* Menu
 * --------------------------------------- */
 
	
 #logo {
	 margin-left: 30px;
	 margin-top: 0px;
	 width: 120px;
	 float:left;
	 }
	 
nav a {
	text-transform: uppercase;
	font-size: 0.8em;
	}
    
 nav a:hover {
     color: rgba(152, 54, 106, 1)!important; 
     /*font-weight:300;*/
     }

.arrow {
    width: 0;
height: 0;
border-style: solid;
border-width: 10px 10px 0 10px;
border-color: #ffffff transparent transparent transparent;
margin: auto;
}

/* slider projektów
		 * --------------------------------------- */

		
#section1,
#section4,
#section3 {
    background-image: -webkit-linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 1)), url('../img/tlo.jpg');
    background-image: -moz-linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 1)), url('../img/tlo.jpg');
    background-image: linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 1)), url('../img/tlo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
    
#section3 img {
  width: 100%;
			}
			
.fotka {
    width: 20%;
    border-style: solid;
    border-width: 0.7em;
    border-color: #fff;
    -moz-box-shadow: 1px 1px 20px #000, inset 0px 0px 10px #000;
    -webkit-box-shadow: 1px 1px 20px #000, inset 0px 0px 10px #000;
    box-shadow: 1px 1px 20px #000,inset 0px 0px 10px #000;
    
    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
  
			}
			
.tablet {
    position:relative; 
    z-index:10; 
    /*padding:1px; 
    background:#DADADA; */
    border-style: solid;
    border-width: 1.2em 2.6em;
    border-radius: 1em;
    border-color: #fff;
    -moz-box-shadow: 1px 1px 20px #000, inset 0px 0px 10px #000;
    -webkit-box-shadow: 1px 1px 20px #000, inset 0px 0px 10px #000;
    box-shadow: 1px 1px 20px #000,inset 0px 0px 10px #000;
    margin-bottom: 20px;
    }

/* animacje
    * --------------------------------------- */
/*TILT*/
.over {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
 
.over:hover {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

/*obrót*/
.around {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
.around:hover {
/*  border-radius: 50%;*/
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

	
/* kropki
    * --------------------------------------- */
.fp-slidesNav.bottom{
    bottom: 0px;
		/*bottom: -40px;*/
	}

	
/* przejścia między stronami
	* --------------------------------------- */
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* parallax.css
	* --------------------------------------- */

.loading {
	background: url('/img/ico_loading.gif');
    background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
    z-index: -200;
}

/* OUT */
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

.shadow {
    -moz-box-shadow: 1px 1px 10px #7C7C7C, inset 0px 0px 10px #7C7C7C;
	-webkit-box-shadow: 1px 1px 10px #7C7C7C, inset 0px 0px 10px #7C7C7C;
	box-shadow: 1px 1px 10px #7C7C7C,inset 0px 0px 10px #7C7C7C;
	margin-bottom: 50px;
	}
	
/* następny i poprzedni w projektach
	* --------------------------------------- */
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.fp-prev {
    left: 15px;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}

.fp-prev:hover {
    border-color: transparent #DEDEDE transparent transparent;
    }
    
.fp-next:hover {
    border-color: transparent transparent transparent #DEDEDE ;
    }


/* projekty
	* --------------------------------------- */
    
section {
    text-align: center;    
    }
    
#tytul-str,
#linki {
  position: relative;
  top: 50%;
  transform: translateY(-50%);  
    }
 
 .container2 {
     z-index: 20;
     background-color:#fff;
     width: 100%!important;
     }   
    
/* --------- TEKST ---------- */

    
.tekst-bialy h1,
.tekst-bialy h2, 
.tekst-bialy p {
    color: #fff;
    }
    
section h2,
section h1
         {
    font-size: 45px;
    line-height: 48px;
    margin-bottom: 12px;
	}

/* -------- ZDJĘCIA --------- */

.parallax-window {
 background: -webkit-linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 0.9));
 background: -moz-linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 0.9));
 background: linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 0.9));
 overflow:hidden;
}

.gradient {
    background-image: -webkit-linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 0.9)), url('../img/tlo.jpg') !important;
    background-image: -moz-linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 0.9)), url('../img/tlo.jpg') !important;
    background-image: linear-gradient(rgba(76, 53, 95, 0.9),rgba(152, 54, 106, 0.9)), url('../img/tlo.jpg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
      
    
/* media queries
	* ---------------------------------------*/

@media (max-width:480px){
 .tablet {
    border-width: 0.4em 0.9em;
    border-radius: 0.3em;
     }

  .rama,
  .section {
      border-width: 50px 25px 20px 25px;
      }

    #logo {
	 margin-left: 0px;
    }
    
   
}

@media (max-width:768px){
.fp-controlArrow.fp-prev
 { 
   border-width: 19px 17px 19px 0;
}

.fp-controlArrow.fp-next {
    border-width: 19px 0 19px 17px;
}

section h2,
section h1
         {
    font-size: 2em;
    line-height: 30px;
    margin-bottom: 12px;
	}
   
   .tablet {
    border-width: 0.7em 1.6em;
    border-radius: 0.6em;
     }
   
  }

 