@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}


/* Struktura
 * --------------------------------------- */

body{
	font-family: "museo-slab", sans-serif;
	font-weight:100;
	color: #333;
	color: rgba(0,0,0,0.5);
	
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.section{
	text-align:center;
	border-style: solid;
	border-width: 50px 50px 45px 50px;
	border-color: #fff;
	
}



/* Tekst
 * --------------------------------------- */

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 62.5%;
    margin:0;
    padding:0;
    color:#444;
}

  
h1 {
	font-family: "museo-sans", sans-serif;
	font-weight:100;
	font-size: 4em;
	text-transform: uppercase;
	color:#fff;
	}
	
h2 {
	font-family: "museo-slab", serif;
	font-weight:700;
	font-size: 1.5em;
	color:#fff;
	}

p{
	font-family: "museo-sans", sans-serif;
	font-weight:100;
	font-size: 1em;
	color:#fff;
}

/*.intro {
	width: 50%;
	margin: 0 auto;
    text-align: left;
}*/

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

.jasny {}

.ciemny{}



/* Menu
 * --------------------------------------- */
 
 #header {
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #fff;
		z-index:9;
    	top:0px;
	}
	
 #logo {
	 margin-left: 50px;
	 margin-top: 15px;
	 width: 120px;
	 float:left;
	 }
	 
 
#menu li {
	display:inline-block;
	float:right;
	margin-right: 50px;
	margin-top: 10px;
	color: #000;
	/*background:#fff;
	background: rgba(255,255,255, 0.5);*/
	
}
#menu li.active{
	background:#98366a;
	/*background: rgba(0,0,0, 0.5);
	color: #fff;*/
}
#menu li a{
	text-decoration:none;
	color: #000;
	font-size: 0.8em;
	text-transform: uppercase;
}
#menu li.active a:hover{
	color: #98366a;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 20px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	
}



/* Strony
		 * --------------------------------------- */
		#section0{
background: linear-gradient(to bottom right,#4c355f,#98366a);
		opacity: 1;
		}
	
		#section2 img{
			margin: 20px 0 0 52px;
		}
		#section3 img{
			bottom: 0px;
			position: absolute;
			margin-left: -420px;
		}
		.intro p{
	width: 50%;
	margin: 0 auto;
		}
	
	/* kropki
	* --------------------------------------- */
	.fp-slidesNav.bottom{
		bottom: 25px;
	}

	
