@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}


/* Struktura
 * --------------------------------------- */

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

.section{
	text-align:center;
	border-style: solid;
	border-width: 50px 50px 45px 50px;
	border-color: #fff;	

}

.slide{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }

/* Tekst
 * --------------------------------------- */
  
h1 {
	font-family: "museo-sans", sans-serif;
	font-weight:100;
	font-size: 4em;
	text-transform: uppercase;
	color:#fff;
	}
	
h2 {
	font-family: "museo-slab", serif;
	font-weight:700;
	font-size: 1.5em;
	color:#fff;
	}

p{
	font-family: "museo-sans", sans-serif;
	font-weight:100;
	font-size: 1em;
	color:#fff;
}

/*.intro {
	width: 50%;
	margin: 0 auto;
    text-align: left;
}*/

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

.jasny {}

.ciemny{}



/* Menu
 * --------------------------------------- */
 
	
 #logo {
	 margin-left: 30px;
	 margin-top: 0px;
	 width: 120px;
	 float:left;
	 }
	 


/* Strony
		 * --------------------------------------- */
		#section1{
        background: linear-gradient(to bottom right,#4c355f,#98366a);
		opacity: 1;
		}
	
		#section2 {
	background: linear-gradient(to bottom right,#5eb17e,#62cb8a);
		opacity: 1;
		}
	
		#section3 {
        background: linear-gradient(to bottom right,#bf5b5e,#e8896d);
		opacity: 1;
		}
		
		#section3 img {
			width: 50%;
			}
			
				#section4 img {
			width: 100%;
			
			}
			
		#section4 {
	    /*background: linear-gradient(to bottom right,#5d92b1,#60a4ca);*/
		background: linear-gradient(to bottom right,#653031,#b0413f);
		opacity: 1;
		
		}
			

		.intro p{
	       width: 50%;
	       margin: 0 auto;
		}
		
		
	.tablet {
	    margin-left: auto;
	    margin-right: auto;
		width: 50%;
	
	    border-style: solid;
	    border-width: 2em;
	    border-radius: 1em;
	    border-color: #fff;
		box-shadow: 1px 1px 20px #000;
		-moz-box-shadow: 1px 1px 20px #000;
        -webkit-box-shadow: 1px 1px 20px #000;
	
	}
	
	.tablet img {

/*  -moz-box-shadow: inset 0 0 15px #888;
       -webkit-box-shadow: inset 0 0 15px #888;
      box-shadow: inner 0 0 15px #888;
    border: 1px solid #aaa;*/
	
	border: 2px;
    border-image: -webkit-linear-gradient(left, #ddd, #aaa);
    border-image-slice: 3;
		}
		

	
	/* kropki
	* --------------------------------------- */
	.fp-slidesNav.bottom{
		bottom: 0px;
		/*bottom: -40px;*/
	}


/* eksperymenty
	* --------------------------------------- */

.portfolio_intro {
	padding-top: 50%;
	padding-bottom: 40%;
	text-shadow: 2px 2px 10px #373737;
	position:relative;
	}

.portfolio_content {
	padding-top: 5%;
   background-color : #fff;
 
	}
	
.portfolio_content h1 {
	color: #000;
	}
	
	.portfolio_content h2 {
		color: #4c355f;
		}
	
	 
.portfolio_tlo {
		/*background: linear-gradient(to bottom right,#5d92b1,#60a4ca);*/
		  /*background: -webkit-linear-gradient(#4c355f,#98366a);*/
		  background-image: -webkit-linear-gradient(rgba(76, 53, 95, 0.7),rgba(152, 54, 106, 1)), url('../img/test_foto.jpg');
		  background-image: -moz-linear-gradient(rgba(76, 53, 95, 0.7),rgba(152, 54, 106, 1)), url('../img/test_foto.jpg');
		  background-image: linear-gradient(rgba(76, 53, 95, 0.7),rgba(152, 54, 106, 1)), url('../img/test_foto.jpg');
		  background-attachment: fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         background-size: cover;
         -o-background-size: cover;
			}
	
	
	
	
	
/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url('../img/test_foto.jpg') no-repeat center center fixed; 
  display: table;
  height: 100%;

  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}

.home {
	 padding-top: 40%; 
	}

